.Aguafina{
	font-family: "Aguafina Script";
}
.Bigelow{
	font-family: "Bigelow Rules";
}
.Crafty{
	font-family: "Crafty Girls";
}
.Dawning{
	font-family: "Dawning of a new Day";
}
.Eater{
	font-family: "Eater";
}
.Flavors{
	font-family: "Flavors";
}
.Lobster{
	font-family: "Lobster";
}
.Open{
	font-family: "Open Sans Condensed";
}
.Patrick{
	font-family: "Patrick Hand SC";
}
.Raleway{
	font-family: "Raleway Dots";
}
.UnifrakturCook{
	font-family: "UnifrakturCook";
}
table {
	width:70%;
	position: relative;
	left:15%;
}